@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x:hidden ;
    font-family:"montserrat",sans-serif ;
}

/* Ensure Leaflet map is always below modals */
.leaflet-container {
  z-index: 0 !important;
}